.detail_container {
  height: 100%;
  background-color: rgba(224, 202, 161, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;


  .detail_box {
    flex: 1;
    height: 0;
    box-sizing: border-box;
    padding: 10px 0;
  }
}